
<div id="black">

<div class="container-fluid" id="back">
<div class="jumbotron" id="back">
  <h1 class="display-3" style="color:orange">Burger Mania</h1>
<h3>Add a burger</h3>

<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="ca"></label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit" class="btn btn-primary">Add burger</button>
</form>
 

</div>

</div>
</div>